.button {
  display: inline-block;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
  outline: none;
  outline-offset: 0;
  outline-color: transparent;
  -webkit-appearance: none;

  &::-moz-focus-inner,
  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}