.button.button-media-select {
  position: relative;
  display: inline-block;
  width: auto;
  // min-width: 125px;
  height: auto;
  opacity: 0.3;

  @include transition-property(opacity);
  @include transition-duration(.15s);
  @include transition-timing-function(linear);
  @include transition-delay(0s);


  > .button-media-select__title {
    position: relative;
    padding-left: 14px;
    overflow: visible;
    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: -3px;
      width: 1px;
      height: 100%;
      height: calc(100% + 4px);
      background-color: $color--beta;
    }

  }

  > .button-media-select__active {

    opacity: 0;
    padding-left: 14px;
    margin-top: 8px;
    overflow: visible;
    color: $text__color--alpha;

    @include transition-property(opacity, transform);
    @include transition-duration(.15s, 0.15s);
    @include transition-timing-function(ease-in, ease-out);
    @include transition-delay(0.1s, 0.1s);


    @include transform(translate3d(0px, 100%, 0px));

  }

  &.button-media-select--active {

    opacity: 1;

    > .button-media-select__active {
      opacity: 1;
      @include transform(translate3d(0px, 0%, 0px));
    }
  }



  @include hover {
    opacity: 1;
    color: inherit;
  }


}