.block-star-rating {
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  @include clearfix;
  color: rgba($text__color--beta, 0.5);

  .block-star-rating__item {
    display: inline-block;
    list-style: none;
    float: left;
    margin-right: 1px;
    &:last-child {
      margin-right: 0px;
    }
  }

}