/*doc
---
title: Beta Label
name: beta label
category: labels
---

These are the labels used for the top navigation.

```html_example_table
  <span class="label label-beta">home</span>
```

*/

.label.label-beta {
  @include font($font-mono-pt);
  @include font-size(18px);
  @include line-height(21px);
  color: inherit;
  vertical-align: bottom;
  position: relative;
}