.info-page-videos {

}

.info-page-videos__content {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color--gamma;
  overflow: hidden;
}

.info-page-videos__content__inner {
  width: 100%;
  height: 100%;
}