/*doc
---
title: Block Footer Nav
name: block footer nav
category: CSS Components
---

The footer navigation on the bottom right

```html_example_table
<ul class="block-footer-nav">
    <li class="block-footer-nav__item">
      <a class="button button-gamma">
        <span class="label label-epsilon">Credits</span>
      </a>
    </li>
    <li class="block-footer-nav__item">
      <a class="button button-gamma">
        <span class="label label-epsilon">Help</span>
      </a>
    </li>
    <li class="block-footer-nav__item">
      <a class="button button-gamma">
        <span class="label label-epsilon">En</span>
      </a>
    </li>
</ul>
```

*/
.block-footer-nav {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;

  .block-footer-nav__item {
    display: inline-block;
    list-style: none;
    float: left;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;

    &:after {
      content: "";
      position: absolute;
      right: 0px;
      top: 10px;
      width: 1px;
      height: 8px;
      background-color: white;
    }

    &:last-child {
      margin-right: 0px;
      padding-right: 0px;
      &:after {
        display: none;
      }
    }
  }

}