.block-tv-filter {
  position: relative;
  width: 100%;
  height: 100%;

  .block-tv-filter__source {
    display: none;
  }
  
  .block-tv-filter__canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    // width: 100%;
    // height: 100%;
    overflow: hidden;
    opacity: 1;
    // @include transform-origin(0 0 0);
    // @include transition-property(opacity);
    // @include transition-duration(0.3s);
    // @include transition-timing-function(linear);
    // @include transition-delay(0s);
  }
}