/*doc
---
title: Block Watch CTA
name: block watch cta
category: CSS Components
---

```html_example_table
<div class="block-watch-cta">
  <div class="block-watch-cta__button">
    <button class="button button-alpha button-alpha--large">
      <span class="button-alpha__label">
        <span class="label label-zeta button-alpha__label">Watch the movie</span>
        <span class="label label-eta button-alpha__label">Available December 24th</span>
      </span>
    </button>
  </div>
  <div class="block-watch-cta__meta">
    <div class="block-headphones">
      <div class="block-headphones_label">
        <span class="label label-gamma">
          Please watch in Fullscreen HD mode</br>
          Better experience with headphones
        </span>
      </div>
    </div>
  </div>
</div>
```

*/
.block-watch-cta {
  display: block;

  .block-watch-cta__button {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .block-watch-cta__meta {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
  }

}