// Colors
$color--base: #eeeeee;
$color--alpha: #018ecb;
$color--beta: #ffffff;
$color--gamma: #000000;
$color--delta: #bababa;
$color--epsilon: #d2cdbf;

$text__color--base: #efefef;
$text__color--alpha: #d2cdbf;
$text__color--beta: #ffffff;
$text__color--gamma: #000000;
$text__color--delta: #d3d3d3;
