// primary
$font-libre-baskerville: 'Libre Baskerville', serif;
$font-lora: 'Lora', serif;

// primary
$font-futura-std-condensed-light: "FuturaStd Condensed Light", Helvetica, Arial, sans-serif;

// secondary
$font-futura-lt-heavy: "FuturaLT Heavy", Helvetica, Arial, sans-serif;

// tertiary
$font-myriad-pro-light-condensed-italic: "Myriad Pro Light Condensed Italic", Helvetica, Arial, sans-serif;
$font-myriad-pro-light-condensed: "Myriad Pro Light Condensed", Helvetica, Arial, sans-serif;

// 4th
$font-futura-std-medium: "FuturaStd Medium", Helvetica, Arial, sans-serif;

// 5th
$font-pf-tempesta-seven: "PFTempesta Seven", Helvetica, Arial, sans-serif;

// 6th
$font-futura-std-light: "FuturaStd Light", Helvetica, Arial, sans-serif;

// 7th
$font-futura-std-book: "FuturaStd Book", Helvetica, Arial, sans-serif;

// 8th
$font-open-sans-light-italic: "Open Sans Light Italic", Helvetica, Arial, sans-serif;

// 9th
$font-open-sans-extra-bold: "Open Sans Extra Bold", Helvetica, Arial, sans-serif;

// extra
$font-awesome: "Font Awesome";
